---
import { ArrowLeft } from "lucide-react";

const { content } = Astro.props;
---

<div
  class="fixed top-0 z-50 flex gap-5 justify-between items-center w-full py-6 rounded-b-2xl px-6 max-w-4xl mx-auto bg-white/5 backdrop-blur-md border border-[#393939] border-t-0"
>
  <div class="flex gap-5 items-center">
    <a href={content.href} class="bg-[#3e3e3e] rounded-md p-2 w-fit aspect-square object-cover [@media(max-height:700px)]:p-1.5 [@media(max-height:600px)]:p-1">
      <ArrowLeft className="text-white "/>
    </a>
    <a
      href={content.href}
      class="bg-[#3e3e3e] rounded-md p-1 w-fit aspect-square object-cover [@media(max-height:700px)]:p-1.5 [@media(max-height:600px)]:p-1"
    >
      <img
        width={90}
        height={90}
        src="/Profile1.jpg"
        alt="Profile"
        class="aspect-square rounded-md w-14 h-14 object-cover [@media(max-height:700px)]:w-20 [@media(max-height:700px)]:h-20 [@media(max-height:600px)]:w-16 [@media(max-height:600px)]:h-16"
      />
    </a>
    <p>{content.title}</p>
  </div>
  <div class="w-fit flex justify-center">
    <a
      href="https://www.linkedin.com/in/elianrehbani"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-[#3e3e3e] p-2 rounded-md dark:bg-transparent [@media(max-height:600px)]:p-1.5"
    >
      <img
        src="/svg/linkedin.svg"
        alt="Elian Rehbani LinkedIn"
        class="w-8 h-8 aspect-square object-cover hover:opacity-80 transition-opacity [@media(max-height:600px)]:w-6 [@media(max-height:600px)]:h-6"
        width={100}
        height={100}
      />
    </a>
  </div>
</div>
